.root {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: var(--fs-s);
}

.label {
  font-weight: var(--fw-medium);
}

.button {
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;

  padding: 0;

  color: var(--color-text-tertiary);
  text-decoration: none;
}

.button[aria-pressed="true"] {
  font-weight: var(--fw-medium);
  color: var(--color-primary-blue);
}

.icon {
  transform: translateY(1px);
}

.button[aria-pressed="true"] .icon {
  fill: currentcolor;
}

.separator {
  margin-inline: -2px;
}
