.status-bar {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: end;

  padding-block: 0.9rem 0.6rem;
  border-bottom: 1px solid var(--color-border-subtle);

  font-size: var(--fs-xs);
}

.page-counter {
  margin-inline-start: auto;
}

.submitted-counter {
  padding-inline: 0.2rem;
  background-color: var(--color-user-surface-bg-accent);
}

.finish-button {
  width: fit-content;
}
