.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  max-width: 100%;
}

.label {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  line-height: var(--lh-l);
  color: var(--color-text-primary);
}

.value {
  font-size: var(--fs-s);
  line-height: var(--lh-l);
  color: var(--color-text-primary);
  text-align: right;
}

.track {
  overflow: hidden;
  grid-column: 1 / 3;
  height: 0.25rem;
  background-color: var(--color-bg-secondary);
}

.indicator {
  background-color: var(--color-bg-primary);
  transition: width 500ms;
}
