:root {
  --font-sans:
    var(--font-noto-sans), -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono:
    var(--font-noto-mono), ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;

  /* Font sizes */
  --fs-xxs: 0.75rem;
  --fs-xs: 0.83rem;
  --fs-s: 0.92rem;
  --fs-m: 1.1rem;
  --fs-l: 1.32rem;
  --fs-xl: 1.61rem;
  --fs-xxl: 2.1rem;

  /* Weights */
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Line heights */
  --lh-xs: 1.1;
  --lh-s: 1.28;
  --lh-m: 1.56;
  --lh-l: 1.72;
}
