/** Palette
 * https://coolors.co/palette/233d4d-fe7f2d-fcca46-a1c181-619b8a
 */

:root {
  /* gray */
  --color-gray-5: oklch(99.2% 0.001 234.97deg);
  --color-gray-10: oklch(98.1% 0.005 234.97deg);
  --color-gray-20: oklch(97.34% 0.005 234.97deg);
  --color-gray-50: oklch(96.6% 0.005 236.81deg);
  --color-gray-100: oklch(93% 0.008 236.81deg);
  --color-gray-200: oklch(87% 0.009 236.81deg);
  --color-gray-300: oklch(80.3% 0.012 236.81deg);
  --color-gray-400: oklch(70.7% 0.013 236.81deg);
  --color-gray-500: oklch(61.2% 0.011 236.81deg);
  --color-gray-600: oklch(51.7% 0.01 236.81deg);
  --color-gray-700: oklch(42.1% 0.007 236.81deg);
  --color-gray-800: oklch(32.7% 0.005 236.81deg);
  --color-gray-900: oklch(23.3% 0.004 236.81deg);
  --color-gray-950: oklch(18.9% 0.004 236.81deg);

  /* blue */
  --color-blue-50: oklch(97% 0.007 233.53deg);
  --color-blue-100: oklch(93.1% 0.015 235.34deg);
  --color-blue-200: oklch(87% 0.028 232.68deg);
  --color-blue-300: oklch(80.1% 0.043 234.97deg);
  --color-blue-400: oklch(72.9% 0.058 234.72deg);
  --color-blue-500: oklch(66.5% 0.071 236.81deg);
  --color-blue-600: oklch(59.2% 0.08 237.61deg);
  --color-blue-700: oklch(51.1% 0.068 237.81deg);
  --color-blue-800: oklch(43.6% 0.057 237.34deg);
  --color-blue-900: oklch(34.6% 0.043 236.8deg);
  --color-blue-950: oklch(23.1% 0.024 236.21deg);

  /* orange */
  --color-orange-50: oklch(96.4% 0.021 56.16deg);
  --color-orange-100: oklch(92.7% 0.044 54.89deg);
  --color-orange-200: oklch(85% 0.093 54.39deg);
  --color-orange-300: oklch(78.7% 0.137 52.22deg);
  --color-orange-400: oklch(73.1% 0.178 48.68deg);
  --color-orange-500: oklch(68.2% 0.202 42.99deg);
  --color-orange-600: oklch(57.6% 0.168 43.63deg);
  --color-orange-700: oklch(46.5% 0.133 44.69deg);
  --color-orange-800: oklch(36.1% 0.101 46.54deg);
  --color-orange-900: oklch(23.4% 0.06 52.46deg);
  --color-orange-950: oklch(16.4% 0.037 63.86deg);

  /* yellow */
  --color-yellow-50: oklch(98% 0.025 89.18deg);
  --color-yellow-100: oklch(96.2% 0.044 89.87deg);
  --color-yellow-200: oklch(92.8% 0.086 89.12deg);
  --color-yellow-300: oklch(89.1% 0.127 89.08deg);
  --color-yellow-400: oklch(86.1% 0.153 87.29deg);
  --color-yellow-500: oklch(82.9% 0.168 83.11deg);
  --color-yellow-600: oklch(72.2% 0.148 81.87deg);
  --color-yellow-700: oklch(59.1% 0.121 82.05deg);
  --color-yellow-800: oklch(43.8% 0.089 84.13deg);
  --color-yellow-900: oklch(28.7% 0.058 86.33deg);
  --color-yellow-950: oklch(18.6% 0.038 91.65deg);

  /* olive */
  --color-olive-50: oklch(97% 0.013 130.64deg);
  --color-olive-100: oklch(94.5% 0.023 128.66deg);
  --color-olive-200: oklch(88.9% 0.046 129.02deg);
  --color-olive-300: oklch(82.7% 0.071 129.07deg);
  --color-olive-400: oklch(77.1% 0.094 129.93deg);
  --color-olive-500: oklch(70.8% 0.119 130.68deg);
  --color-olive-600: oklch(60.8% 0.11 131.12deg);
  --color-olive-700: oklch(50% 0.087 130.46deg);
  --color-olive-800: oklch(37.6% 0.063 130.19deg);
  --color-olive-900: oklch(25.3% 0.037 131.19deg);
  --color-olive-950: oklch(17% 0.019 127.53deg);

  /* seagrass */
  --color-seagrass-50: oklch(96.5% 0.007 174.08deg);
  --color-seagrass-100: oklch(93.1% 0.012 177.85deg);
  --color-seagrass-200: oklch(86.2% 0.027 176.17deg);
  --color-seagrass-300: oklch(79.2% 0.04 175.97deg);
  --color-seagrass-400: oklch(72% 0.053 175.4deg);
  --color-seagrass-500: oklch(64.4% 0.066 173.56deg);
  --color-seagrass-600: oklch(55.2% 0.055 174.41deg);
  --color-seagrass-700: oklch(45.2% 0.044 174.28deg);
  --color-seagrass-800: oklch(34.5% 0.032 174.03deg);
  --color-seagrass-900: oklch(22.8% 0.017 176.03deg);
  --color-seagrass-950: oklch(16.6% 0.01 172.59deg);
}
