:root {
  --color-shadow-light: light-dark(
    color-mix(in oklch, var(--color-gray-900) 10%, transparent),
    color-mix(in oklch, var(--color-gray-100) 10%, transparent)
  );

  /* popup */
  --shadow-popup: 0 0.5rem 1.5rem var(--color-shadow-light);

  /* checkbox, radio, switch inset shadow */
  --inset-shadow-seagrass: inset 0 0 0.5rem 1px
    light-dark(var(--color-seagrass-300), var(--color-seagrass-300));
}
