.root {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 12rem;
  margin-block-end: 3rem;
}

.status {
  position: absolute;
  top: calc(100% + 0.5rem);

  width: 12rem;
  padding-inline: 0.5rem;

  font-size: var(--fs-xs);
  color: var(--color-state-warning-text);
  text-align: center;

  background-color: var(--color-state-warning-bg);
}
