@layer ui {
  .list {
    display: grid;
    gap: 1.25rem;
    min-inline-size: min(26rem, 100vw - 2rem);
  }

  .row {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    justify-content: space-between;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .label {
    display: grid;
  }

  .caption {
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
    color: var(--color-text-secondary);
  }

  .arrow {
    flex: none;
    margin-block-start: 0.34rem;
    color: var(--color-primary-blue);
  }
}
