@layer utils {
  .rounded-xs {
    border-radius: 0.317rem;
  }

  @supports (corner-shape: superellipse(3)) {
    .rounded-xs {
      border-radius: 1rem;

      corner-shape: superellipse(3);
    }
  }

  .rounded-s {
    border-radius: 0.583rem;
  }

  @supports (corner-shape: superellipse(2)) {
    .rounded-s {
      border-radius: 1rem;

      corner-shape: superellipse(2);
    }
  }

  .rounded-m {
    border-radius: 1.166rem;
  }

  @supports (corner-shape: superellipse(2)) {
    .rounded-m {
      border-radius: 2rem;

      corner-shape: superellipse(2);
    }
  }

  .rounded-l {
    border-radius: 2.714rem;
  }

  @supports (corner-shape: superellipse(1.2)) {
    .rounded-l {
      border-radius: 3rem;

      corner-shape: superellipse(1.2);
    }
  }

  .rounded-s-squircle {
    border-radius: 1.166rem;

    @supports (corner-shape: squircle) {
      border-radius: 2rem;

      corner-shape: squircle;
    }
  }

  .rounded-m-squircle {
    border-radius: 1.458rem;

    @supports (corner-shape: squircle) {
      border-radius: 2.5rem;

      corner-shape: squircle;
    }
  }

  .rounded-l-squircle {
    border-radius: 2.332rem;

    @supports (corner-shape: squircle) {
      border-radius: 4rem;

      corner-shape: squircle;
    }
  }
}
