@layer typography {
  .h1 {
    margin: 0;

    font-size: var(--fs-xxl);
    font-weight: var(--fw-bold);
    line-height: var(--lh-s);
    color: var(--color-title-primary);
  }

  .h2 {
    margin: 0;
    font-size: var(--fs-xl);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-s);
  }

  .h3 {
    margin: 0;
    font-size: var(--fs-l);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-s);
  }

  .h4 {
    margin: 0;
    font-size: var(--fs-m);
    font-weight: var(--fw-medium);
    line-height: var(--lh-s);
  }

  .body {
    font-size: var(--fs-m);
    font-weight: var(--fw-regular);
    line-height: var(--lh-m);
  }

  .body-strong {
    font-size: var(--fs-s);
    font-weight: var(--fw-medium);
    line-height: var(--lh-m);
  }

  .caption {
    font-size: var(--fs-s);
    font-weight: var(--fw-regular);
    line-height: var(--lh-m);
    color: var(--color-text-secondary);
  }

  .mono {
    font-family: var(--font-mono);
    font-size: var(--fs-s);
    line-height: var(--lh-m);
  }

  .h-link {
    color: var(--color-primary-blue);
    text-decoration: none;
  }
}
