@layer utils {
  /* Hide visually while keeping the text in the accessibility tree. */
  .visually-hidden {
    position: absolute;

    overflow: hidden;

    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;

    clip-path: inset(50%);
  }

  .single-line-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .multi-line-truncate-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    /* Number of lines to show */

    text-overflow: ellipsis;
  }

  /* background */
  .cell-background::before {
    --_cell-size: 1.1rem;
    --_line-color: color-mix(var(--color-blue-50) 10%, transparent);
    --_orange-line-color: color-mix(in oklch, var(--color-primary-orange-accent) 10%, transparent);
    --_bg-color: var(--color-main-bg-dark);

    content: "";

    position: fixed;
    z-index: -1;
    inset: -100%;
    transform: rotate(-2.9deg);

    background-color: var(--_bg-color);
    background-image:
      linear-gradient(to right, var(--_line-color) 1px, transparent 1px),
      linear-gradient(
        to bottom,
        transparent 0,
        transparent 1px,
        var(--_orange-line-color) 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, var(--_line-color) 1px, transparent 1px);
    background-position:
      0 0,
      0 0,
      0 0;
    background-size: var(--_cell-size) var(--_cell-size);
  }
}

.cell-background-contained {
  --_cell-size: 1.1rem;
  --_line-color: color-mix(in oklch, var(--color-bg-cell-border) 10%, transparent);
  --_orange-line-color: color-mix(in oklch, var(--color-bg-cell-orange) 10%, transparent);
  --_bg-color: var(--color-bg-cell);

  isolation: isolate;
  position: relative;
  clip-path: inset(0);
}

.cell-background-contained::before {
  content: "";

  position: fixed;
  z-index: -1;
  inset: -50%;
  transform: rotate(-2.9deg);

  background-color: var(--_bg-color);
  background-image:
    linear-gradient(to right, var(--_line-color) 1px, transparent 1px),
    linear-gradient(
      to bottom,
      transparent 0,
      transparent 1px,
      var(--_orange-line-color) 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, var(--_line-color) 1px, transparent 1px);
  background-size: var(--_cell-size) var(--_cell-size);
}
