---
import { ImportQuizForm, ImportQuizTexts } from "@/features/import-quiz";
import Layout from "@/app/layout.astro";

import { layout } from "#styles";
---

<Layout>
  <div class={layout.page}>
    <ImportQuizTexts />
    <ImportQuizForm client:load />
  </div>
</Layout>
