.actions {
  display: flex;
  gap: 0.75rem;
}

.intro {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1.5rem;
  align-items: start;

  margin-block-end: 1.5rem;

  font-size: var(--fs-s);
}

.intro-text {
  max-width: 72ch;
  font-size: var(--fs-s);
}
