.details {
  margin: 0;
}

.summary {
  cursor: pointer;
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  color: var(--color-primary-seagrass);
}

.note {
  margin-block: 0.5rem 0;

  font-size: var(--fs-s);
  line-height: var(--lh-l);
  color: var(--color-text-secondary);
  text-wrap: pretty;
}
