.root {
  overflow: hidden;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-self: end;

  font-size: var(--fs-xs);
  color: var(--color-text-on-main-bg-dark);
}

.label {
  font-weight: var(--fw-medium);
  white-space: nowrap;
}
