@layer ui {
  .root {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .controls {
    order: 1;
  }

  .pages,
  .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  .pages {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .item {
    display: flex;
  }

  .page-button {
    min-inline-size: 1.75rem;
  }

  .gap {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-inline-size: 1.75rem;
    min-block-size: 1.4rem;

    color: var(--color-text-secondary);
  }

  .control-button {
    gap: 0.4rem;
  }

  @media (width >= 36rem) {
    .root {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    .controls {
      order: 0;
      width: auto;
    }
  }
}
