.root {
  display: grid;
  gap: 1.2rem;
}

.root-inline-margin {
  margin-block-start: 1.5rem;
  margin-inline: 1.5rem;
}

.status {
  margin: 0;
  font-size: var(--fs-s);
  color: var(--color-text-secondary);
}

.notice-content {
  display: grid;
  gap: 1.2rem;
  padding-block-end: 0.6rem;
}

.copy {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin: 0;
}

.copy-icon {
  position: relative;
  top: 4px;
  margin-inline-start: -1.75rem;
  color: var(--color-syntax-literal);
}

.declined-copy {
  width: fit-content;
  padding: 0.4rem 0.6rem;
  border-inline-start: 3px solid var(--color-state-error-border);

  color: var(--color-state-error-text);

  background-color: var(--color-state-error-bg);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: end;
  justify-content: space-between;

  padding-inline-end: 2rem;
}
