.root {
  display: grid;
  gap: 1.2rem;
}

.root-inline-margin {
  margin-inline: 1.5rem;
}

.status {
  margin: 0;
  font-size: var(--fs-s);
  color: var(--color-text-secondary);
}

.notice-content {
  display: grid;
  gap: 1.2rem;
  padding-block-end: 0.6rem;
}

.copy {
  margin: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: end;
  justify-content: space-between;
}
