.root {
  cursor: pointer;

  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  width: fit-content;
  padding-block: 0.25rem;
  border: none;

  font-size: var(--fs-xs);
  color: var(--color-primary-blue);
  text-decoration: none;

  background: none;
}

.text {
  text-decoration: underline;
}

.icon {
  margin-left: -0.25rem;
  transition: transform 0.2s;
}

@media (hover: hover) {
  .root:hover .icon {
    transform: translateX(-0.25rem);
  }
}
