.root {
  display: grid;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.meta {
  display: flex;
  gap: 0.5rem;

  margin-top: -0.5rem;

  font-size: var(--fs-s);
  color: var(--color-text-secondary);
}

.description {
  max-width: 66ch;
  text-wrap-style: pretty;
}

.progress {
  padding-inline: 0.2rem;
  font-size: var(--fs-s);
  color: var(--color-text-on-user-surface);
  background-color: var(--color-user-surface-bg-accent);
}
