.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.size-s {
  composes: rounded-s from "#styles/utils.module.css";

  block-size: var(--size-badge-s-block);
  padding-block: 0;
  padding-inline: 8px;

  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
}

.size-m {
  composes: rounded-m from "#styles/utils.module.css";
  padding: 6px 12px;
  font-size: var(--fs-m);
}

.intent-taxonomy {
  color: var(--color-text-on-taxonomy);
  background-color: var(--color-taxonomy-bg);
}

.intent-success {
  border: 1px solid var(--color-state-success-border);
  color: var(--color-state-success-text);
  background-color: var(--color-state-success-bg);
}

.intent-error {
  border: 1px solid var(--color-state-error-border);
  color: var(--color-state-error-text);
  background-color: var(--color-state-error-bg);
}
