@layer ui {
  .root {
    composes: rounded-s from "#styles/shape.module.css";
    composes: field from "#styles/field.module.css";

    resize: none;

    display: block;

    box-sizing: border-box;
    inline-size: 100%;
    min-inline-size: 0;
    height: var(--_height, auto);
    padding-block: 0.5rem;
    padding-inline: 0.625rem;

    font-family: var(--_font-family, inherit);
    font-size: var(--fs-s);
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: var(--_line-height, var(--lh-m));
  }

  @supports (field-sizing: content) {
    .root {
      field-sizing: content;
      block-size: auto;
      min-block-size: calc(var(--_rows, 2) * 1lh + 1rem + 2px);
    }
  }
}
