.root {
  isolation: isolate;
}

.actions {
  composes: rounded-s from "#styles/utils.module.css";

  position: sticky;
  top: 0.4rem;

  display: grid;
  gap: 0.75rem;

  margin-block: 1.5rem;
  margin-inline: 0.5rem;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;

  background-color: var(--color-panel-bg);
  box-shadow: var(--shadow-popup);
}

.label {
  font-size: var(--fs-m);
  color: var(--color-text-on-panel-secondary);
}

.buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.file-input {
  display: none;
}

.reports {
  margin-top: 0.75rem;
  overflow-wrap: break-word;
}

.error-report {
  composes: rounded-m from "#styles/utils.module.css";

  max-width: 50vw;
  padding: 1.5rem;
  border: 1px solid var(--color-state-error-border);

  font-family: var(--font-mono);
  font-size: var(--fs-s);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.report-section {
  display: grid;
  gap: 1.25rem;
}

.report-copy-button {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  width: fit-content;
}

.report-copy-status {
  font-size: var(--fs-s);
  color: var(--color-text-secondary);
  background-color: var(--color-user-surface-bg-accent);
}
