.root {
  display: grid;
  gap: 1.5rem;
}

.texts {
  padding-inline: 1.25rem;
  border-right: 0.25rem solid var(--color-primary-blue);
  border-left: 0.25rem solid var(--color-primary-blue);

  font-size: var(--fs-m);
  line-height: var(--lh-l);
  color: var(--color-text-primary);

  .paragraph:not(:last-child) {
    margin-block: 0 0.75rem;
  }
}
