.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  gap: 1.25rem;
  align-items: end;
}

.field {
  min-inline-size: 0;
}

.filter-label {
  display: flex;
  justify-content: space-between;
}

.filter-label-text {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
}

.filter-label-buttons {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.filter-label-button {
  text-decoration: none;
}

.filter-label-separator {
  margin-inline: -2px;
  font-size: var(--fs-s);
}
